# ACE for DJ FiveM Script Manager
# Add this to server.cfg AFTER ensure ox_lib

ensure ox_lib
ensure djfivem-scriptmanager

add_ace group.admin djmanager.admin allow
add_ace qbcore.god djmanager.admin allow
add_ace qbcore.admin djmanager.admin allow
